body {
  font-family: "FranklinGothicHeavy", Arial, sans-serif;
  height: 100%;
  background-size: cover;
  margin:0;
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
* {
  box-sizing: border-box;
}


@keyframes goneso {
  0% {
    top:0%;
    width:100%;
    
  }
  
  50% {
    top:35%;
    opacity:.7;
  }
  
  75% {
    top:33%;
    opacity:.5;
  }
  
  100% {
    top:200%;
    width:100%;
    opacity:0;
    
  }  
  
}


@keyframes tostos {
  0% {
    margin-left:100%;
    width:300%;
  }
  75% {
    font-size:300%;
    margin-left:15%;
    width:120%;
  }
  
  100% {
    margin-left:0%;
    width:100%;
  }
}
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 0px;
  background: rgba(162, 166, 169, 0.85)
}

.modal-ct {
  padding-bottom:2em !important;
  max-height:34rem !important;
  overflow:hidden;
}

.ralogin {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 25px 20px 25px;
  width: 100%;
  margin:0 auto;
  max-width: 480px;
  background: #e8e8e8;
  position: relative;
  padding-bottom: 100px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  
}

.ismecatime {
  background:url(http://sb.monetate.net/img/1/748/1305929.png);
  opacity:.85;
  background-color:#fafafa;
  background-size:182.25px 41.5px;
  animation-name: mecalogin;
  animation-duration:7s;
  animation-timing-function:linear;
  animation-iteration-count:infinite;
  overflow:hidden;
  position:absolute;
  bottom:-3em;
  left:0em;
  width:100%;
}

@keyframes mecalogin {
-15% {
    background-position:0,1px
  }
  
  25% {
    background-position:-182px 1px;
  }
  
  50% {
    background-position:-364px 1px;
  }
  
  75% {
    background-position:-546px 1px;
  }
  
  
  100% {
    background-position:-729px 1px;
  }
  
}







.ralogin.loading button {
  max-height: 100%;
  padding-top: 50px;
}
.ralogin.loading button .spinner {
  opacity: 1;
  top: 90%;
}
.ralogin.ok button {
  background-color: #033625a8;
  transition:background-color .5s,background-image 1s;
}
.ralogin.ok button .spinner {
    transform: rotateZ(240deg);
    border: 5px dotted #899927;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px 0px #142720;
    background: transparent;
}





.ralogin input {
  //display: block;
  padding: 19px 10px !important;
  margin-bottom: 10px;
  width: 99%;
  border: 1px solid #ddd;
  transition: border-width 0.2s ease;
  border-radius: 2px;
  color: #823f8f;
  font-size:14px;
  border-radius:4px;
  display:inline-block;
}
.ralogin input + i.fa {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  margin-top: -52px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.ralogin input:focus, .ralogin input:active {
  outline: none;
  color: #823f8f;
  border-color: #823f8f;
  border-left-width: 45px;
  padding: 17px 10px;
  font-size:14px;
}
.ralogin input:focus + i.fa, .ralogin input:active + i.fa {
  opacity: 1;
  left: 38px;
  transition: all 0.25s ease-out;
}

.rabot {
  height:88px;
  position:relative;
}

.ralogin a {
  font-size:14px;
  color: #823f8f;
  text-decoration: none;
}
.ralogin .title {
  color: #823f90;
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 0px;
  letter-spacing:-1px;
  padding-left:.15em;
}
.ralogin button {
  width: 100%;
  height: 100%;
  background: #d45c95;
  color: #fff;
  border: none;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border-radius:4px;
  transform: rotateZ(0deg);
  transition: all 0.1s ease-out;
  font-variant: all-small-caps;
  font-size:2em;
  cursor:pointer;
}
.ralogin button .spinner {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  border: 7px solid #ffffff;
  border-top-color: rgba(174, 79, 124, 0.78);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  animation: spinner 0.6s infinite linear;
  transition: top 0.22s 0.22s ease, opacity 0.22s .22s ease, border-radius 0.5s .5s ease-in-out;
  box-shadow: 0px 1px 0px 1px #eb8ab8ed;
  background-color: #f7a0c929;
}

button.logino {
  background-color:#ce367e !important;
}



.ralogin:not(.loading) button:hover {
  box-shadow: 0px 1px 3px #d55b95;
}
.ralogin:not(.loading) button:focus {
  border-bottom-width: 4px;
  outline:none;
}

span.state:focus, span.state:active {
  outline:none;
}

form, button {outline:none;}


.modal-ct {
  border-radius: 0.6rem;
  height: 100%;
  padding-bottom:5em;
  max-height: 36rem;
  max-width: 45rem;
  min-width: 30rem;
  position:static;
  
}


.btn-secondary {
  
  color: #fff;
  font-family: "FranklinGothicHeavy", Arial, sans-serif;
  font-size: 2rem;
  padding: .7rem 1.5rem;
  text-transform: uppercase;
  width: 50%;
}

.logino {
  position: static !important;
  width: 33% !important;
  font-size: 1.5em !important;
  padding: 5px 5px !important;
  max-height: 40px !important;
  display: inline-block !important;
  margin: 0 !important;
  
}

.rajoinbutton {
  width:100%;
  margin:0 auto;
  max-height:40px;
  overflow:hidden;
  text-align:center;
  vertical-align:middle;
  margin-top:1em;
 
}


.rainput-username label, .rainput-password label {
  color:#823f8f;
  padding:.5em 0 .15em .25em;
  display:block;
}


.rainput-username input::placeholder, .rainput-password input::placeholder {
  color: #823f8f;
  font-size: 14px;
  font-style: italic;
}

form.ralogin p {
  font-size:14px;
  color:#616161;
  padding:.5em .5em;
  margin-bottom:0;
  
}

form.ralogin .rahelp p {
  font-size:14px;
  color:#616161;
  padding:.5em .5em;
  margin-top:0;
}

form.ralogin p a.raclickhere {
  text-decoration:underline;
}



.propa img {
  max-width: 480px;
  margin:0 auto;
  display:block;
  border-radius:5px;
  position:fixed;
  top:0%;
  left:0%;
  z-index:-1;
  opacity:.9;
  animation-name:goneso;
  animation-duration:4s;
 
}



.propa p {
  font-size: 16px !important;
  line-height: 24px !important;
  color: #fcffb1 !important;
  font-variant: initial !important;
  padding: 0 2em !important;
  z-index: 100;
  letter-spacing: .5px;
  text-shadow: 0px 0 1px #101010;
  animation-duration:2.5s;
  animation-name:tostos;
}


#rawelcome {
  font-size: 3em;
  color: #f8f8f8;
  margin-bottom: .5em;
  display: inline-block;
  text-shadow: 0px 0 1px #101010;
}


#rawelcomeuser {
  font-size:3em;
  color:#f8f8f8;
  margin-top:2em;
  margin-bottom:.5em;
  display:inline-block;
  line-height:50px;
}

#rasuser {
  font-size:.9em;
}







